# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.funzy-test.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\solvent\Documents\repos\funzy-test\.idea\.idea.funzy-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
